*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEE8D9;
}

.main{
    justify-content: center;
    align-content: center;
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.card{
    background-color: #E5BEB5;
    border: 1px solid #222;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.cardImg{
    width: 90%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}

.textName{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    user-select: none;
}

.blur {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
    transition: opacity .3s ease;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-height: 70vh;
    overflow-y: auto;
    background-color: #B8C4A9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}

.close {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.titleCompare{
    text-align: center;
}

.compare{
    display: flex;
    justify-content: center;
}

.poke-card{
    border: 1px solid #222;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
}

.winner{
    background-color: seagreen;
    font-size: 20px;
}

.loser{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}

.count{
    text-align: center;
}



