*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEE8D9;    
}

/* HEADER */
.header{
    background-image: linear-gradient(rgba(180, 0, 0, 0.6), rgba(0,0,0,0.2)),
    url("/img/pokemon.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.titlePrincipal{
    align-content: center;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:700;
    color: #ffffff;
    position: relative;
    z-index: 2;
    user-select: none;
}

/* BUSCADOR */
.searchSection{
    display: flex;
    justify-content: center;
    margin: 8px 0 8px 0;
    flex-direction: column;
    align-items: center;
}

.searchInput{
    width: 480px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.searchInput::placeholder{
    font-size: 18px;
}

.searchErrorP{
    font-size: 20px;
}

/* MAIN */
.main{
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.main.single{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.card{
    background-color: #CBCBCB;
    width: 200px;    
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    cursor: pointer;
    user-select: none;
}

.cardImg{
    width: 90%;
    max-width: 150px;
    height: auto;
    object-fit: contain;
    object-position: center;
    overflow: hidden;    
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.4));
    pointer-events: none;
}

.textName{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    user-select: none;
}

/* COMPARACION */
.sectionCompare{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6);
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);    
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titleCompareSection{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

.containerCardCompare{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    user-select: none;
}

.disabled{
    cursor: not-allowed;    
    opacity: 0.5;
}

.selected{
    border: 2px solid #007bff;
    opacity: 0.5;
}

.pokeCard{
    border: 1px solid #222;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.imgCompare{
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;    
    overflow: hidden;
    transition: transform .3s ease;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.35));
    pointer-events: none;
}

.winner{
    background-color: seagreen;
    font-size: 20px;
}

.winner .imgCompare{
    transform: scale(1.0);
}

.loser{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}

.loser .imgCompare{
    transform: scale(0.5);
}

.equal{
    background-color: #FFE08F;
}

.equal .imgCompare{
    transform: scale(0.5);
}

.msjCompare{
    font-size: 20px;
    user-select: none;
}

.msjCompare span{
    color: #007bff;
    text-shadow: 1px 0px 0px rgba(0,0,0,0.8);
}

.btnReset, .btnDeleteCardSelected, .btnSearch{ 
    background-color: #234C6A;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    margin: 10px;
    cursor: pointer;
    user-select: none;
}

/* PAGINACION */
.containerPagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    user-select: none;
}

.containerPagination button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 4px;
}

.containerPagination button.active {
    border: 2px solid #007bff;
    background: #e7f0ff;
    font-weight: bold;
}

.containerPagination button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.containerPagination .dots {
    padding: 0 5px;
    font-size: 18px;
    color: #666;
}

/* FOOTER */
.footer{
    height: 150px;
    background: linear-gradient(to right, rgba(180, 0, 0, 0.6), rgba(0,0,0,0.8));
    align-content: center;
    position: relative;
    bottom: 0px;
}

.textFooter{
    text-align: center;    
    color: #ffffff;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



